# **Stock DataSet**
lambda 를 활용하는 경우
- **<span style="color:orange">map()</span>** 은 **입력배열과 동일한 길이** 의 배열을 생성하여, **else** 구문이 필수
- **<span style="color:orange">filter()</span>** 는 **배열의 값 중 특정 조건의 True** 인 결과값만 필터링 한다

## **1 Loading the DataSet**

In [1]:
# 2019년 데이터 set 을 준비한다
from glob import glob
import os, re
file_list = sorted(glob('csv_2021/*.csv')) # , key=os.path.getctime

# list(map(lambda x : x  if x.find('all') != -1 else '', file_list))
file_trader = list(filter(lambda x : x.find('all') != -1, file_list))
len(file_trader), file_trader[-3:]

(14,
 ['csv_2021/0409_all_trader.csv',
  'csv_2021/0416_all_trader.csv',
  'csv_2021/0423_all_trader.csv'])

In [2]:
import pandas as pd
table = pd.read_csv(file_trader[-1]).reset_index(drop=True)
table.head(3)

           날짜    코드     개인    외국인   기관  증권  투신  은행  종금  보험  기금   기타
0  2021/04/23  4840   1919  -2237    2   2   0   0   0   0   0  300
1  2021/04/22  4840  18515 -18404 -111 -40   0   0   0   0   0    0
2  2021/04/21  4840  -2037   1930    7   7   0   0   0   0   0  100

In [3]:
table['코드'] = list(map(lambda x : f"{x:06d}", table['코드'].to_list()))
table['날짜'] = pd.to_datetime(table['날짜']) # datetime 포맷 변경
table.columns = ["date","code","개인","외국인","기관","금융투자","투자신탁","은행","기타금융","보험","연기금","기타법인"]
table.tail(3)

,date,code,개인,외국인,기관,금융투자,투자신탁,은행,기타금융,보험,연기금,기타법인
98510,2021-02-25,238490,30814,-28303,-700,-700,0,0,0,0,0,-300
98511,2021-02-24,238490,7168,-4943,0,0,0,0,0,0,0,-2400
98512,2021-02-23,238490,-26658,26571,0,0,0,0,0,0,0,21

## **2 Column & DataSet Re Arrange**
- [거래원 내용 설명](https://m.blog.naver.com/PostView.nhn?blogId=ruffian71&logNo=221578997865&proxyReferer=https:%2F%2Fwww.google.com%2F)

In [4]:
%%time
# 증권 : 금융투자(펀드)
# 종금 : 기타금융
# 기금 : 연기금등
# 기타 : 기타법인
# 나머지 (계산결과) : 사모펀드 ??
data = table.iloc[215,2:].to_list()
date_rest = [(sum(table.iloc[_, 2:].to_list()) * (-1))   for _ in range(len(table))]
table.insert(12, '기타', date_rest)
table.head()

CPU times: user 17.4 s, sys: 6.55 ms, total: 17.4 s
Wall time: 17.4 s

,date,code,개인,외국인,기관,금융투자,투자신탁,은행,기타금융,보험,연기금,기타법인,기타
0,2021-04-23,004840,1919,-2237,2,2,0,0,0,0,0,300,14
1,2021-04-22,004840,18515,-18404,-111,-40,0,0,0,0,0,0,40
2,2021-04-21,004840,-2037,1930,7,7,0,0,0,0,0,100,-7
3,2021-04-20,004840,-5442,5494,-13,-5,0,0,0,-8,0,0,-26
4,2021-04-19,004840,2457,-633,156,-111,0,0,0,0,267,0,-2136

## **3 Filtering**
- [거래원 내용 설명](https://m.blog.naver.com/PostView.nhn?blogId=ruffian71&logNo=221578997865&proxyReferer=https:%2F%2Fwww.google.com%2F)

In [18]:
table[(table['date'] > '2021-4-1') & (table['code']=='005930')]

,date,code,개인,외국인,기관,금융투자,투자신탁,은행,기타금융,보험,연기금,기타법인,기타
38713,2021-04-23,005930,1465185,-385916,-1146201,-75363,-29714,-9500,15966,-103759,-973230,64264,1178268
38714,2021-04-22,005930,4195430,-2497598,-1702689,-364051,-56584,-6164,2459,-144854,-1124082,-14571,1712704
38715,2021-04-21,005930,8845988,-4082099,-4724629,-3068083,-239503,-2803,37548,-128809,-983799,-65547,4411736
38716,2021-04-20,005930,-703403,1161118,-542136,763851,-197228,-8495,-1676,93112,-1040187,85252,389792
38717,2021-04-19,005930,4327399,-3150668,-1442072,51024,-410340,-21301,11507,-75119,-1011542,252420,1468692
38718,2021-04-16,005930,2670971,-80381,-2612523,-1883820,-312116,-96900,1022,-95605,-182160,10060,2581452
38719,2021-04-15,005930,-28138,1370425,-1450831,-300778,-107540,48335,-28990,-121776,-933007,112750,1439550
38720,2021-04-14,005930,434679,-597118,-5622,1264408,-255529,-58447,2189,-76972,-879144,177305,-5749
38721,2021-04-13,005930,-693861,918413,-422643,576601,-118161,-95253,-3296,13753,-823231,198600,449078
38722,2021-04-12,005930,2985571,-825879,-2188369,-958016,-103448,-16844,4145,-128709,-933380,21397,2143532
38723,2021-04-09,005930,5045578,-2031410,-3150053,-1765869,-180007,-160094,46954,-96549,-987472,119833,3159089
38724,2021-04-08,005930,4320981,-1209545,-3195948,-1233668,-293711,6780,-15684,-141562,-1236950,73988,2925319
38725,2021-04-07,005930,485079,1288130,-1807298,-387145,-214604,-26377,-52667,-184962,-895753,24606,1770991
38726,2021-04-06,005930,-670347,3210649,-2480700,-1566905,-5166,-939,-4647,-133461,-858115,-67053,2576684
38727,2021-04-05,005930,1119645,290365,-1475274,-789009,51339,236,12045,-3630,-728859,62539,1460603
38728,2021-04-02,005930,-8858133,5956557,2812162,2489787,357660,-4664,33733,46997,-174492,118350,-2777957